<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="23da0dc2-394a-43c8-b1bc-3b7f8d2ff8c9" wsaVersion="NONE" name="BLZServiceSOAP12Binding" type="wsdl" bindingName="{http://thomas-bayer.com/blz/}BLZServiceSOAP12Binding" soapVersion="1_2" anonymous="optional" definition="http://www.thomas-bayer.com/axis2/services/BLZService?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="23da0dc2-394a-43c8-b1bc-3b7f8d2ff8c9fileName">BLZServiceSOAP12Binding</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://www.thomas-bayer.com/axis2/services/BLZService</con:endpoint>
  </con:endpoints>
</con:interface>
