<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9e2d6244-4416-4a31-abab-99787d7b403a" name="WSDL2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9e2d6244-4416-4a31-abab-99787d7b403afileName">WSDL2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
