<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8ca59755-f5a0-4a37-9ada-040146ff4865" name="WSDL1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8ca59755-f5a0-4a37-9ada-040146ff4865fileName">WSDL1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
